<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ipAddress" value="192.168.1.253" />
    <add key="autoRefresh" value="false" />
    <add key="language" value="eng" />
    <add key="override" value="false" />
    <add key="disableValidation" value="false" />
    <add key="PlayerSlot" value="AED22840" />
    <add key="PlayerOffset" value="10E500" />
    <add key="Slot21Offset" value="B8" />
    <add key="HomeOffset" value="C4" />
    <add key="ReactionOffset" value="AFB4" />
    <add key="Villager" value="AD8DD028" />
    <add key="VillagerOffset" value="13230" />
    <add key="VillagerHouse" value="ADD17BFC" />
    <add key="VillagerHouseOffset" value="1D4" />
    <add key="VillagerHouseBuffer" value="86D590" />
    <add key="RecyclingBin" value="AE145278" />
    <add key="Turnip" value="ADD1BB84" />
    <add key="Stamina" value="B5F64090" />
    <add key="WalkSpeed" value="0114A670" />
    <add key="AnimationSpeed" value="037F9200" />
    <add key="Collision" value="010B7420" />
    <add key="FreezeTime" value="0027DD60" />
    <add key="ReadTime" value="0BAC6338" />
    <add key="WeatherSeed" value="ADABF3F0" />
    <add key="MapZero" value="ADB0B1D0" />
    <add key="Sound" value="true" />
    <add key="LastSave" value="" />
    <add key="LastLoad" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>