<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ipAddress" value="192.168.1.253" />
    <add key="autoRefresh" value="false" />
	<add key="language" value="eng" />
	<add key="override" value="false" />
	<add key="disableValidation" value="false" />
  	<add key="PlayerSlot" value="ABC25840" />
  	<add key="PlayerOffset" value="76390" />
  	<add key="Slot21Offset" value="B8" />
  	<add key="HomeOffset" value="C4" />
  	<add key="ReactionOffset" value="AFB4" />
  	<add key="Villager" value="AA5ADF58" />
  	<add key="VillagerOffset" value="13230" />
  	<add key="VillagerHouse" value="AA9C7580" />
  	<add key="VillagerHouseOffset" value="1D4" />
  	<add key="VillagerHouseBuffer" value="B20770" />
  	<add key="RecyclingBin" value="AB0C9A08" />
  	<add key="Turnip" value="AA9CB2D8" />
  	<add key="Stamina" value="B4A1EBE0" />
    <add key="WalkSpeed" value="0105BABC" />
    <add key="AnimationSpeed" value="0360F610" />
    <add key="Collision" value="00FD5380" />
    <add key="FreezeTime" value="0025AB50" />
    <add key="ReadTime" value="0B9A29C0" />
    <add key="Critter" value="4668F858" />
    <add key="IslandName" value="29D63FD8" />
    <add key="WeatherSeed" value="BA2BB44" />  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>