<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.2" targetFramework="net472" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net472" />
  <package id="LibUsbDotNet" version="2.2.29" targetFramework="net472" />
</packages>